/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	border:2px solid red;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*This is for desktop view*/
.container {
    margin:3%;
}

nav {
	display:flex;
	justify-content: space-around;
	align-items:center;
    width:100%;
}

.a-tags {
    display:flex;
    justify-content: space-between;
    width:65%;
    border-bottom:3%;
}

nav a {
	text-decoration:none;
	color:gray;
	padding:1%;
}

.top {
    display:flex;
    flex-flow:row wrap;
}

.top .text-top {
    font-size:77px;
    margin-top:75px;
    text-align:center;
    padding:0px 75;
    margin-left:5%;
    align-items: center;
}

.top .globe-img {
    margin-left:10%;    
    padding:2%;
}

button {
    width:100px;

}

.boxes {
	border:1px solid black;
	width:48%;
	margin-top:1%;
}

.parent {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

#features {
    display:flex;
    justify-content:space-between;

}

#bottom-sect {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:100%;
}

#left, #right {
    padding:1%;
    width: 48%;
}

#one, #two, #three {
    padding:1%;
    width:25%;
}

.address {
    width:85%;
    margin:1% 8%;
}

/* This is for mobile @500px */
@media(max-width: 500px) {
   nav {
        /* width:100%; */
        display:flex;
        /* flex-direction:column-reverse;     */
    }
    nav .a {
        /* width:100%; */
        display:flex;
        /* flex-direction:column; */
    }

    nav .a-tags {
        display:flex;
        /* flex-direction:column; */
        /* width:100%; */
        border-bottom:1px solid gray;
    }
   
    .logo {
        /* width:75%; */
    }
   
    .text-top {
        /* display:flex; */
    }

    .button {
        /* width:125px; */
        display:flex;
   }
}
